@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-color: hsl(220, 10%, 6%);
  --background-color: hsl(220, 10%, 95%);
}

*::selection {
  background-color: var(--foreground-color);
  color: var(--background-color);
}

body {
  margin: 0;
  padding: 0;
  font-family: "Meutas", sans-serif;
}

@font-face {
  font-family: "Meutas";
  src: url("./assets/fonts/font2.otf") format("opentype");
}
